$primary-color: #a2f2ae;
$secondary-color: #9cd9ce;
$third-color: #e4b43b;
$white-color: rgb(208, 177, 218);
$black-color: #383838;
$twitch-color: rgb(123, 1, 160);
$fuente1: "Quicksand", sans-serif;
$fuente2: "Kanit", sans-serif;
$fuente3: "Bebas Neue", cursive;

@export "primary-color";
@export "secondary-color";
@export "third-color";
@export "white-color";
@export "black-color";
@export "twitch-color";
@export "fuente1";
@export "fuente2";
@export "fuente3";
